@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

html {
    scroll-behavior: smooth;
}

body{
    height: 100vh;
    margin: auto 0;
    background-color: rgb(0, 0, 0);
    color: white;
    /* background-color: rgb(9, 8, 10); */
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    background-color: rgb(0, 0, 0);
    position: fixed; 
    z-index: 1;
    /* border: 1px solid rgb(0, 255, 4); */
    height: 100%;
    width: 100px;
}

nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 45px;
    color: #f2f2f2;
    text-decoration: none;
}

nav a:hover {
    /* background: #ddd; */
    color: rgb(81, 81, 81);
}

main {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    /* border: 1px solid red; */
}

main .home-section {
    padding: 188px 0 0 50px;

}

/* header{ */
    /* border: 1px solid rgb(0, 166, 255); */

/* } */

.home-section, .about-section, .projects-section,
.services-section, .hire-me-section{
    height: 100vh;
}

.home-section{
    display: flex;
    flex-wrap: wrap;
}

.home-section .background-img{
    width: 400px;
    height: 400px;
    opacity: 20%;
}

.about-section{
    border: 1px solid rgb(4, 0, 255);
    flex-direction: column;
    padding: 30px;

}


.projects-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;

    padding: 30px;
    /* border: 1px solid rgb(4, 0, 255); */
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
  }
.card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    align-items: center;
    position: relative;
    margin-bottom: 160px;
}
  
.card .card-item {
    position: relative;
}

.card img {
    height: 250px;
    width: 250px;
    transition: 0.4s ease-in-out all;
    object-fit: cover;
}
  
.card .card-details {
    position: absolute;
    padding: 10px 5px;
    bottom: 0px;
    opacity: 0;
    transition: 0.4s ease-in-out all;
    font-family: "Ubuntu", sans-serif;
}
  
.card-details h1 {
    font-size: 18px;
    margin: 2px 0;
}

.card-details p {
    font-size: 14px;
}

.card-item:hover .card-details {
    opacity: 1;
    bottom: 10px;
}
  
.card-item:hover img {
    opacity: 50%;
    filter: blur(5px);
}
  
@media(max-width:600px){
    .card {
    grid-template-columns: 1fr;  gap: 0 10px;
}

.container {
    height: 210vh;}
}

.services-section{
    /* border: 1px solid rgb(4, 0, 255); */
    text-align: center;

}

.hire-me-section {
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid rgb(4, 0, 255); */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container{
    background-color: rgb(10, 10, 10);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 5px;
    /* border: 1px solid rgb(0, 255, 225); */
    padding: 20px;
    gap: 10px;
    width: 340px;
    flex-basis: 50%;

}

.form-field input, button, textarea{
    width: 100%;
}

.form-field input{
    background-color: transparent;
    color: white;
    height: 30px;
    border: none;
    border-bottom: 1px solid rgb(255, 0, 200);
    outline: none;
    padding-left: 5px;
}

.form-field textarea{
    background-color: #111;
    color: white;
    height: 130px;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    text-decoration: dashed;
    resize: none;
}

.form-field button{
    background-color: rgb(36, 155, 48);
    color: #fff;
    font-weight: 500;
    border-radius: 5px;
    height: 30px;
    outline: none;
    border: none;
    

}

h1{
    font-size: 35pt;
}

.social-media {
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-size: 15pt;
}

.hide { 
    display: none;
}
.art-code{
    margin-top: 350px;
    text-align: center;
}
.arts{
    margin: 5px;
    width: 70%;
    max-width: 250px;
    border-radius: 8px;
    transition: 0.2s;
}

.arts:hover {
    z-index: 1;
    max-width: 255px;
    box-shadow: 0 0 20px rgb(255, 255, 255); 
    
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #000000;
}

::-webkit-scrollbar-thumb {
    background: rgb(40, 40, 40);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: #333;
}

nav img {
    width: 90px;
}

nav img:hover {
    filter: drop-shadow(0px 0px 10px #ffffff);
    cursor: pointer;

}

a{
    list-style: none;
    color: #ffffff;
}

@media screen and (max-width: 480px) {
    nav {
        display: none;
    }
    main {
        margin: auto;
    }
}
